.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
}

.navbar-border {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 97.5%; 
  height: 1px;
  background-color: #ccc; 
  z-index: 10;
}
